@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    li {
       @apply p-4
    }

    button {
        @apply text-white border bg-indigo-600
        hover:bg-transparent hover:text-indigo-600 rounded-md

    }


}

/* Your custom CSS rules go here */

@layer components {
    .custom-scrollbar::-webkit-scrollbar {
        width: 4px;
    }
    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;

    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #a5b7ff;
        width: 5px;
        border-radius: 10px;
    }

    .custom-scrollbar-dark::-webkit-scrollbar-thumb {
        background-color: #312e78;
    }
}
