@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom CSS rules go here */

@layer components {
    .custom-scrollbar::-webkit-scrollbar {
        width: 4px;
    }
    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;

    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background-color: #a5b7ff;
        width: 5px;
        border-radius: 10px;
    }

    .custom-scrollbar-dark::-webkit-scrollbar-thumb {
        background-color: #312e78;
    }
}
