.form-container {
    max-width: 400px;
    width: 100%;
    background-color: #ffffff;
    padding: 20px;
    margin: auto;
  }
  
  .form-title {
    font-size: 3rem;
    font-weight: bold;

  }
  
  .form-input {
    border: 1px solid #cccccc;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }
  
  .form-button {
    border: 1px solid #3f3d56;
    width: 100%;
    margin: 2rem auto;
    padding: 0.5rem 1rem;
    background-color: #5c6ac4;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .form-button:hover {
    background-color: #434190;
  }
  