
.container {
  max-width: 90%;
  margin: 100px auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #ccc;
  border-radius: 20px;
}



.container {
  background-color: #cccccc;
}


.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

body {
  background-color: #ffffff;
}

#root {
  background-color: #dddee3;
}

.formContainer {
  width: 35%;
  margin-right: 10px;
}

.resultContainer {
  width: 70%;
  margin-left: 10px;
}